# Zignoruj foldery ze zdjęciami i etykietami
zdjecia/
wytrenowane_zdjecia/
val_zdj/
etykiety_surowe/
dataset_yolo/

# Zignoruj pliki z wagami AI i folder z logami treningu
*.pt
runs/
*.log
# Zignoruj pliki z ewentualnymi hasłami do bazy danych
.env